:root {
  --white: white;
  --black: black;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-layout {
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  grid-auto-columns: 1fr;
  justify-content: center;
  padding: 20px;
}

.w-layout-cell {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #fff;
  background-color: #000;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

a {
  text-decoration: underline;
  position: relative;
}

.body {
  background-color: #000;
  font-family: Varela, sans-serif;
}

.navbar {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: rgba(221, 221, 221, 0);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding: 10vh 6vw;
  font-family: Varela, sans-serif;
  display: flex;
}

.nav-menu {
  clear: none;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #000;
  flex-flow: column;
  flex: none;
  order: 0;
  justify-content: center;
  align-self: center;
  align-items: flex-start;
  width: 275px;
  height: 100%;
  display: flex;
  position: fixed;
}

.container {
  aspect-ratio: auto;
  object-fit: fill;
  justify-content: space-around;
  width: 100%;
  padding-left: 0;
  display: block;
  position: static;
}

.div-block {
  display: block;
}

.nav-menu-2 {
  height: 100%;
  display: block;
}

.nav-link {
  color: #fff;
  text-align: left;
  order: 1;
  align-self: center;
  width: 65%;
  margin-left: 0;
  margin-right: 0;
  font-size: 16px;
  text-decoration: none;
  transition: color .2s;
  position: static;
}

.nav-link:hover {
  color: #7f7f7f;
  text-decoration: none;
}

.nav-link.w--current {
  color: #fff;
  text-transform: capitalize;
  font-style: normal;
  text-decoration: underline;
}

.brand {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: #fff;
  text-align: center;
  flex: 0 auto;
  order: 0;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-self: center;
  display: block;
}

.socials {
  order: 1;
  justify-content: flex-end;
  align-self: center;
  align-items: center;
  padding: 18px;
  display: block;
}

.socials.footer-social {
  width: auto;
}

.name-logo {
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 32px;
}

.social-icon {
  color: #fff;
  flex: none;
  align-self: center;
  height: 20px;
  margin-left: 0;
  display: block;
}

.social-icon.social-icon-footer {
  margin-left: auto;
}

.html-embed {
  color: #fff;
}

.grid {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  aspect-ratio: auto;
  object-fit: cover;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "."
                       "."
                       "."
                       ".";
  grid-auto-flow: row dense;
  align-self: center;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  padding-top: 6.6vw;
  padding-bottom: 6.6vw;
}

.projects-main-section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 0;
  padding: 0 75px 10vw;
  display: block;
}

.efi-footer-link {
  color: #fff;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: opacity .2s;
  display: block;
}

.efi-footer-link:hover {
  opacity: .5;
}

.efi-footer-title {
  color: #b8b8b8;
  margin-bottom: 22px;
  font-size: 17px;
}

.efi-button {
  background-color: #000;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: 400;
  transition: all .7s;
}

.efi-button:hover {
  transform: translate(0, -7px);
}

.efi-button.invert {
  filter: invert();
}

.efi-paragraph-light {
  color: rgba(255, 255, 255, .62);
  height: 1em;
  font-size: 15px;
}

.efi-footer-title-large {
  color: #fff;
  margin-bottom: 12px;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4;
}

.efi-title-wrap-large {
  margin-bottom: 32px;
}

.efi-ftr-03-grid {
  grid-column-gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: 4fr 1fr;
}

.efi-ftr-03-container {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.efi-ftr-03 {
  background-color: #000;
  padding: 100px 5%;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.efi-form-button {
  color: #fff;
  letter-spacing: 0;
  background-color: #000;
  border-radius: 0;
  width: 100%;
  padding: 12px 32px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  transition: all .7s ease-in-out;
}

.efi-form-button:hover {
  color: #fff;
  background-color: #636363;
  transform: translate(0, -7px);
}

.efi-form-button:active {
  color: #fff;
}

.input {
  color: #727272;
  letter-spacing: -.8px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  border-bottom: 1px solid #6b6b6b;
  height: 55px;
  margin-bottom: 30px;
  padding: 12px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, .04);
}

.input:focus {
  border: 1px #cecece;
  border-bottom-style: solid;
}

.efi-frm-01-form-wrapper {
  padding: 60px 30px;
}

.efi-frm-01-form-block {
  border: 1px solid #bebebe;
}

.efi-frm-01-grid {
  grid-column-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1.5fr 1fr;
}

.efi-frm-01-container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.efi-frm-01 {
  padding: 100px 5%;
  font-family: Poppins, sans-serif;
}

.section-2 {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding-right: 40px;
  display: flex;
}

.heading, .heading-2, .heading-3 {
  align-self: center;
}

.footer-contact-info {
  color: #fff;
  border-right: 5px #fff;
  align-self: center;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-contact-info.end-item {
  border-right-style: none;
}

.heading-4 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.div-block-2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.section-3 {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.list-item {
  margin-top: 6px;
  font-size: 16px;
  list-style-type: disc;
}

.list {
  list-style-type: disc;
}

.list.gear-list {
  margin-top: 0;
  margin-bottom: 0;
}

.section-4 {
  flex-direction: column;
  align-items: flex-start;
  display: block;
}

.container-2 {
  flex: 0 auto;
  order: 0;
  align-self: auto;
  max-width: 1400px;
}

.gear-heading {
  margin-bottom: 34px;
}

.image-2 {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: static;
}

.thumb-img {
  object-fit: cover;
  height: 100%;
}

.menu-button {
  opacity: 1;
  order: -1;
  align-self: center;
}

.menu-button.w--open {
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
}

.featutred {
  width: 100%;
}

.proj-info {
  z-index: 2;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .95), rgba(255, 255, 255, 0));
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  min-height: 50px;
  padding-top: 24px;
  display: block;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.proj-info:hover {
  display: block;
}

.proj-title {
  color: #fff;
  flex: 0 auto;
  order: -1;
  align-self: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 40px;
}

.play {
  height: 40px;
  margin-right: 40px;
}

.html-embed-2 {
  color: #fff;
  order: 1;
  align-self: center;
}

.image-3 {
  order: 1;
  align-self: center;
  height: 20px;
}

.play-links {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  color: #fff;
  flex-flow: row;
  height: 30px;
  margin-top: 3px;
  margin-bottom: 6px;
  padding-left: 40px;
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
  transition: color .2s;
  display: flex;
}

.play-links:hover {
  color: #7f7f7f;
}

.heading-5 {
  order: -1;
  align-self: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 25px;
}

.html-embed-3 {
  order: 1;
  align-self: center;
  width: 20px;
  height: 20px;
}

.play-link {
  align-self: center;
  font-size: 16px;
}

.play-icon {
  align-self: center;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.proj-container {
  height: auto;
  display: flex;
  position: relative;
}

.lightbox-link {
  height: auto;
  display: block;
}

.heading-6 {
  text-align: center;
  margin-top: 0;
  font-size: 20px;
  line-height: 20px;
}

.nav-link-2 {
  object-fit: none;
  order: -1;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.works-grid {
  grid-column-gap: 76px;
  grid-row-gap: 76px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  justify-content: stretch;
  justify-items: stretch;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.drp-links {
  flex-flow: column;
  margin-top: 208px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.proj-link {
  grid-column-gap: 13px;
  grid-row-gap: 13px;
  justify-content: center;
  align-items: center;
  display: block;
}

.proj-thumbnail {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  flex: 0 auto;
  align-self: auto;
  width: 100%;
  display: block;
  overflow: hidden;
}

.info-text {
  float: none;
  clear: none;
  color: #fff;
  margin-bottom: 0;
  padding-bottom: 40px;
  padding-left: 40px;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.div-block-3 {
  display: none;
}

.grid-2 {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  align-content: stretch;
  align-self: center;
  max-width: 1400px;
}

.linktest {
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.testimg {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  order: 0;
  margin-right: 8px;
  display: block;
  position: static;
  overflow: hidden;
}

.testimg.rightside {
  margin-right: 0;
}

.proj-page-images {
  max-width: 940px;
}

.image-4 {
  object-fit: cover;
  width: 100%;
}

.still-image {
  aspect-ratio: auto;
  object-fit: cover;
  width: 100%;
  margin-top: 1px;
  margin-bottom: 1px;
}

.still-image.widescrn {
  aspect-ratio: 2.39;
}

.still-image.univisium {
  aspect-ratio: 2;
}

.proj-page-text {
  margin-top: 35px;
  margin-bottom: 35px;
  position: relative;
}

.section-5 {
  flex-flow: column;
  display: flex;
}

.stills-group {
  clear: none;
  grid-column-gap: 17px;
  grid-row-gap: 17px;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  overflow: visible;
}

.page-title {
  text-align: center;
  margin-bottom: 5vw;
}

.heading-7 {
  margin-top: 0;
  font-size: 28px;
}

.list-2 {
  list-style-type: none;
}

.back-link {
  display: none;
  position: absolute;
  top: 3px;
  left: -68px;
}

.back-icon {
  color: #fff;
  width: 35px;
}

.quick-stack {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.media-section {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

.video-player {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
  max-width: 940px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.video-conainter {
  position: relative;
}

.list-3 {
  flex: 0 auto;
  align-self: stretch;
  margin-top: auto;
}

.cell {
  grid-column-gap: 34px;
  grid-row-gap: 34px;
  flex-flow: row;
  padding-top: 13px;
  display: flex;
}

.paragraph {
  align-self: center;
}

@media screen and (min-width: 1920px) {
  .socials {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .projects-main-section {
    padding-left: 75px;
    padding-right: 75px;
  }

  .efi-frm-01-form-block {
    margin-bottom: 0;
  }

  .thumb-img {
    object-fit: cover;
    height: 100%;
  }
}

@media screen and (max-width: 991px) {
  .body {
    max-width: 991px;
  }

  .navbar {
    justify-content: space-between;
    padding-top: 8vh;
    padding-bottom: 8vh;
  }

  .nav-menu {
    width: 225px;
  }

  .socials {
    width: auto;
  }

  .grid {
    max-width: 991px;
  }

  .projects-main-section {
    padding-left: 20px;
    padding-right: 20px;
  }

  .efi-ftr-03 {
    max-width: 991px;
    overflow: hidden;
  }

  .efi-frm-01-grid {
    grid-template-columns: 1.5fr;
  }

  .section-2 {
    padding-right: 0;
  }

  .menu-button {
    order: -1;
  }

  .proj-title {
    font-size: 22px;
    line-height: 26px;
  }

  .play-link {
    font-size: 14px;
  }

  .play-icon {
    width: 16px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
  }

  .info-text {
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .proj-page-text {
    max-width: 650px;
  }

  .stills-group {
    grid-column-gap: 6px;
    grid-row-gap: 6px;
  }

  .video-conainter {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    width: 99vw;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    padding-top: 6vh;
    padding-bottom: 6vh;
  }

  .projects-main-section {
    padding-left: 10px;
    padding-right: 10px;
  }

  .efi-ftr-03-grid {
    grid-row-gap: 50px;
    grid-template-rows: auto auto;
    grid-template-columns: 4fr;
  }

  .proj-info {
    padding-left: 12px;
  }

  .proj-title {
    margin-left: 0;
    font-size: 18px;
    line-height: 18px;
  }

  .play-links {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    justify-content: flex-start;
    align-self: auto;
    align-items: stretch;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
  }

  .heading-5 {
    flex: 0 auto;
    align-self: center;
    width: 55%;
    display: block;
  }

  .html-embed-3 {
    margin-left: 20px;
  }

  .play-link {
    font-size: 12px;
    line-height: 12px;
  }

  .works-grid {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .proj-thumbnail {
    order: 0;
    align-self: auto;
  }

  .proj-thumbnail.addimg {
    display: none;
  }

  .proj-page-text {
    margin-left: 45px;
    margin-right: 45px;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    padding: 4vh 2vw;
  }

  .nav-menu {
    width: 175px;
  }

  .brand {
    width: auto;
  }

  .name-logo {
    font-size: 23px;
  }

  .social-icon {
    padding-left: 0;
  }

  .grid {
    max-width: 479px;
  }

  .projects-main-section {
    padding-left: 0;
    padding-right: 0;
  }

  .efi-button.invert {
    text-align: center;
  }

  .efi-ftr-03-grid {
    grid-row-gap: 65px;
  }

  .efi-frm-01-grid {
    grid-template-columns: 1.5fr;
  }

  .section-2 {
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    flex-direction: column;
  }

  .div-block-2 {
    white-space: normal;
    overflow-wrap: normal;
  }

  .menu-button {
    padding-right: 4px;
  }

  .link-block {
    padding-left: 15px;
  }

  .proj-info {
    padding-left: 3px;
  }

  .proj-title {
    margin-bottom: 0;
    margin-left: 0;
    font-size: 14px;
  }

  .play-links {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    margin-top: 2px;
  }

  .heading-5 {
    font-size: 12px;
    line-height: 16px;
  }

  .play-link {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 9px;
  }

  .works-grid {
    grid-column-gap: 19px;
    grid-row-gap: 19px;
  }

  .info-text {
    padding-bottom: 5px;
    padding-left: 5px;
  }

  .stills-group {
    grid-column-gap: 2px;
    grid-row-gap: 2px;
  }
}

#w-node-_02ab7709-d45b-199a-11fc-6a41a351c901-8f397dc6 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_4345178c-cff6-30fc-76a3-4087ac07a7e8-7be589f3 {
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}

#w-node-f8e840eb-4c46-279e-0452-cd642318585d-7be589f3 {
  grid-row: span 2 / span 2;
}

#w-node-dfa9eb40-440f-8264-6f40-dbb217bcd47d-c33ee1f1, #w-node-ec4a6d1d-4913-138f-5c24-f9fb2fbf6501-c33ee1f1, #w-node-c5bf2a9c-7fb5-d379-0ba8-2ca30f43e9cb-c33ee1f1 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}


